repos:
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.2
    hooks:
    -   id: ruff
        name: ruff linter
        args: [--fix]
    -   id: ruff-format
        name: ruff formatter
-   repo: local
    hooks:
    -   id: pytest
        name: pytest
        entry: pytest --tb=short
        language: system
        pass_filenames: false
        always_run: true